.vscode
default.profraw
4d.mp4
4d_ascii.mp4
demo.mp4
demo_ascii.mp4
demo_ascii_final.mov
pixar_ascii.mp4
R2D2.mp4
R2D2_ascii.mp4
R2D2_ascii_final.mov
scarface.mp4
scarface_ascii.mp4
scarface_ascii_final.mov